<%- include('partials/header') %>


<h2>Post Search</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<% posts.forEach(function(post) { %> 
    <ul id="myUL">
        <li><a href="/posts/<%=post._id%>"><%=post.title%></a></li>
      </ul>
<% }) %> 



<%- include('partials/footer') %>